*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a{
        color: var(--green);
        text-decoration: none;
    }
    font-family: 'Poppins';
}

:root {
    font-size: 10px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-primary: #161616;
    --background-items: #191919;
    --background-inputs: #242424;
    --border-items: #5151513f;
    --text-lightgray: #7F7F7F;
    --green: #10B981;
    --red: #b91035;
}

body{
    background-color: var(--background-primary);
}
input::-webkit-inner-spin-button{
    appearance: none;
}
.bg-primary{
    background-color: var(--background-primary) !important;
}
.bg-items{
    background-color: var(--background-items);
}
.bg-inputs{
    background-color: var(--background-inputs);
}
.bg-green{
    background-color: var(--green);
}
.border-items{
    border: 1px solid var(--border-items);
}
.border-green{
    border: 1px solid var(--green);
}
.border-bottom-green{
    border-bottom: 1px solid var(--green);
}
.text-lightgray{
    color: var(--text-lightgray);
}
.text-red{
    color: var(--red);
}
.outline:focus{
    outline: 1px solid var(--green);
}
.w-fit{
    width: fit-content;
}
.h-fit{
    height: fit-content;
}
.w-85{
    width: 85%;
}
.w-15{
    width: 25em;
}
.w-register-login{
    width: 55%;
}
.w-card{
    width: 17rem;
}
.padding-2{
    padding: 2rem;
}
.gap2{
    display: flex;
    gap: 2rem;
}
.gap1{
    gap: 0.5rem;
}
.errorPassword, .errorInputsNull{
    color: var(--red);
}
.nav-active{
    color: var(--green);
}
.justify-content-betweenn{
    display: flex;
    justify-content: space-between;
}
.cursor-pointer{
    cursor: pointer;
}
.shadow-overlay{
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
    z-index: 10;
}

@media screen and (max-width: 840px) {
    .w-register-login{
        width: 100%;
    }
}
@media screen and (max-width: 1288px) {
    .justify-content-betweenn{
        justify-content: center;
    }
}

.animate-fade {
    animation-name: slideFadeIn;
    animation-duration: 0.3s; 
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}